<div
  class="flex justify-center items-center p-5 gap-4 flex-wrap md:flex-nowrap lg:flex-nowrap relative"
>
  <button
    (click)="drawer.toggle()"
    class="flex items-center gap-1.5 min-w-fit absolute top-[20px] left-[20px] sm:relative sm:top-0 sm:left-0"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div class="flex items-center gap-1.5 min-w-fit">
    <mat-icon>access_time</mat-icon>
    {{ nowTime | date: "medium" }}
  </div>
  <div class="w-full">
    <mat-form-field class="w-full header-search" appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        type="text"
        [(ngModel)]="searchValue"
        placeholder="Search"
      />
      <button
        *ngIf="searchValue"
        matSuffix
        mat-icon-button
        (click)="searchValue = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="ml-8 hover:cursor-pointer" matTooltip="Save">
    <mat-icon>save</mat-icon>
  </div>
  <div class="hover:cursor-pointer" matTooltip="Refresh">
    <mat-icon>refresh</mat-icon>
  </div>
  <button
    (click)="addPlayer()"
    class="hover:cursor-pointer"
    matTooltip="Player add"
  >
    <mat-icon>person_add</mat-icon>
  </button>
  <button
    (click)="addTeam()"
    class="mr-8 hover:cursor-pointer"
    matTooltip="Team add"
  >
    <mat-icon>group_add</mat-icon>
  </button>
</div>
