<div
  class="bg-skin-sidenav-muted flex justify-center items-center gap-1.5 py-10 text-skin-sidenav-primary"
>
  <img
    class="w-16 h-16 border-4 border-[#32CD32] rounded-md"
    src="assets/main_logo.jpg"
    alt=""
  />
  <div class="text-base w-[76px]">CRICKET SCORER</div>
</div>
<div
  class="flex flex-col pl-9 justify-center items-start my-2 text-skin-sidenav-primary"
>
  <a
    class="sidenav-tab"
    (click)="sideNavToggle()"
    routerLink="/new-match"
    routerLinkActive="sidenav-active"
  >
    <mat-icon>create_new_folder</mat-icon>
    New Match
  </a>
  <a
    (click)="sideNavToggle()"
    class="sidenav-tab"
    routerLink="/active-match"
    routerLinkActive="sidenav-active"
  >
    <mat-icon>play_circle_filled</mat-icon> Active Match
  </a>
  <a
    (click)="sideNavToggle()"
    class="sidenav-tab"
    routerLink="/teams"
    routerLinkActive="sidenav-active"
    ><mat-icon>group</mat-icon> Teams</a
  >
  <a
    (click)="sideNavToggle()"
    class="sidenav-tab"
    routerLink="/match-history"
    routerLinkActive="sidenav-active"
  >
    <mat-icon>history</mat-icon>Match History
  </a>
  <a
    (click)="sideNavToggle()"
    class="sidenav-tab"
    routerLink="/settings"
    routerLinkActive="sidenav-active"
  >
    <mat-icon>settings</mat-icon>Advanced settings
  </a>
</div>
<div
  class="flex justify-center items-center text-skin-sidenav-primary mt-10 bg-skin-sidenav-muted py-3"
>
  Version 1.1.0
</div>
