<div
  class="flex gap-3 p-2 border rounded-lg shadow-[0px_3px_8px_rgba(0,0,0,0.24)] ease-out duration-500 hover:cursor-pointer hover:shadow-[0px_3px_8px_rgba(0,0,0,0.54)]"
>
  <div class="flex items-center">
    <img
      class="w-9 border border-[#505050] rounded-full"
      src="assets/main_logo.jpg"
      alt=""
    />
  </div>
  <button
    (click)="playerDetails()"
    class="flex w-full items-center justify-between"
  >
    <div class="font-semibold">Player name</div>
    <div class="flex gap-2">
      <button
        (click)="editPlayer($event)"
        class="flex items-center p-1 ease-out duration-500 hover:bg-gray-300 hover:rounded-full"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        (click)="editPlayer($event, true)"
        class="flex items-center p-1 ease-out duration-500 hover:bg-gray-300 hover:rounded-full"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <div
        class="flex items-center p-1 ease-out duration-500 hover:bg-gray-300 hover:rounded-full"
      >
        <mat-icon>sort</mat-icon>
      </div>
    </div>
  </button>
</div>
