<!-- Add player dialog -->
<div *ngIf="data.dType == 'add-player'">
  <div class="flex justify-between">
    <div class="text-xl">Add player?</div>
    <button [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="flex flex-col gap-5 items-center justify-between my-5">
    <div>
      <label for="file">
        <img
          matTooltip="Upload image"
          class="w-16 border border-[#32cd32] rounded-full hover:cursor-pointer"
          src="assets/main_logo.jpg"
          alt=""
        />
      </label>
      <input
        type="file"
        id="file"
        (change)="uploadPlayerImg($event.target.files)"
        hidden
      />
    </div>
    <div class="w-3/4 flex justify-center items-center">
      <mat-form-field class="w-full dialog-input" appearance="outline">
        <input
          matInput
          placeholder="Enter player name"
          type="text"
          [(ngModel)]="enteredPlayerName"
        />
      </mat-form-field>
    </div>
    <div class="w-3/4 flex justify-center items-center">
      <mat-form-field class="w-full dialog-select" appearance="outline">
        <mat-select placeholder="Select team">
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="flex gap-4 justify-end items-center">
    <button
      [mat-dialog-close]="false"
      class="px-5 py-2 hover:bg-skin-main-primary rounded ease-out duration-500"
    >
      Cancel
    </button>
    <button class="bg-[#32cd32] px-5 py-2 rounded text-white">Save</button>
  </div>
</div>

<!-- Add team dialog -->
<div *ngIf="data.dType == 'add-team'">
  <div class="flex justify-between">
    <div class="text-xl">Add team?</div>
    <button [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="flex flex-col gap-5 items-center justify-between my-5">
    <div>
      <label for="file">
        <img
          matTooltip="Upload image"
          class="w-16 border border-[#32cd32] rounded-full hover:cursor-pointer"
          src="assets/main_logo.jpg"
          alt=""
        />
      </label>
      <input
        type="file"
        id="file"
        (change)="uploadTeamImg($event.target.files)"
        hidden
      />
    </div>
    <div class="w-3/4 flex justify-center items-center">
      <mat-form-field class="w-full dialog-input" appearance="outline">
        <input
          matInput
          placeholder="Enter team name"
          type="text"
          [(ngModel)]="enteredTeamName"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="flex gap-4 justify-end items-center">
    <button
      [mat-dialog-close]="false"
      class="px-5 py-2 hover:bg-skin-main-primary rounded ease-out duration-500"
    >
      Cancel
    </button>
    <button class="bg-[#32cd32] px-5 py-2 rounded text-white">Save</button>
  </div>
</div>

<!-- Player edit dialog -->
<div *ngIf="data.dType == 'player-edit' && !data.isDelete">
  <div class="flex justify-between">
    <div class="text-xl">Edit player?</div>
    <button [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="flex flex-col gap-5 items-center justify-between my-5">
    <div>
      <label for="file">
        <img
          matTooltip="Upload image"
          class="w-16 border border-[#32cd32] rounded-full hover:cursor-pointer"
          src="assets/main_logo.jpg"
          alt=""
        />
      </label>
      <input
        type="file"
        id="file"
        (change)="uploadPlayerImg($event.target.files)"
        hidden
      />
    </div>
    <div class="w-3/4 flex justify-center items-center">
      <mat-form-field class="w-full dialog-input" appearance="outline">
        <input
          matInput
          placeholder="Enter player name"
          type="text"
          [(ngModel)]="enteredPlayerName"
        />
      </mat-form-field>
    </div>
    <div class="w-3/4 flex justify-center items-center">
      <mat-form-field class="w-full dialog-select" appearance="outline">
        <mat-select placeholder="Select team">
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="flex gap-4 justify-end items-center">
    <button
      [mat-dialog-close]="false"
      class="px-5 py-2 hover:bg-skin-main-primary rounded ease-out duration-500"
    >
      Cancel
    </button>
    <button class="bg-[#32cd32] px-5 py-2 rounded text-white">Save</button>
  </div>
</div>

<!-- Player delete dialog -->
<div *ngIf="data.dType == 'player-edit' && data.isDelete">
  <div class="flex justify-between">
    <div class="text-xl">Delete player?</div>
    <button [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="my-3">
    Are you sure you want to delete this player? All the matches played by this
    player will not be deleted.
  </div>
  <div class="flex gap-4 justify-end items-center">
    <button
      [mat-dialog-close]="false"
      class="px-5 py-2 hover:bg-skin-main-primary rounded ease-out duration-500"
    >
      Cancel
    </button>
    <button class="bg-[#32cd32] px-5 py-2 rounded text-white">Yes</button>
  </div>
</div>

<!-- Team edit dialog -->
<div *ngIf="data.dType == 'team-edit' && !data.isDelete">
  <div class="flex justify-between">
    <div class="text-xl">Edit team?</div>
    <button [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="flex flex-col gap-5 items-center justify-between my-5">
    <div>
      <label for="file">
        <img
          matTooltip="Upload image"
          class="w-16 border border-[#32cd32] rounded-full hover:cursor-pointer"
          src="assets/main_logo.jpg"
          alt=""
        />
      </label>
      <input
        type="file"
        id="file"
        (change)="uploadTeamImg($event.target.files)"
        hidden
      />
    </div>
    <div class="w-3/4 flex justify-center items-center">
      <mat-form-field class="w-full dialog-input" appearance="outline">
        <input
          matInput
          placeholder="Enter team name"
          type="text"
          [(ngModel)]="enteredTeamName"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="flex gap-4 justify-end items-center">
    <button
      [mat-dialog-close]="false"
      class="px-5 py-2 hover:bg-skin-main-primary rounded ease-out duration-500"
    >
      Cancel
    </button>
    <button class="bg-[#32cd32] px-5 py-2 rounded text-white">Save</button>
  </div>
</div>

<!-- Team delete dialog -->
<div *ngIf="data.dType == 'team-edit' && data.isDelete">
  <div class="flex justify-between">
    <div class="text-xl">Delete team?</div>
    <button [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="my-3">
    Are you sure you want to delete this team? All the associated matches &
    player stats of this team will not be deleted.
  </div>
  <div class="flex gap-4 justify-end items-center">
    <button
      [mat-dialog-close]="false"
      class="px-5 py-2 hover:bg-skin-main-primary rounded ease-out duration-500"
    >
      Cancel
    </button>
    <button class="bg-[#32cd32] px-5 py-2 rounded text-white">Yes</button>
  </div>
</div>

<!-- Delete-match dialog -->
<div *ngIf="data.dType == 'delete-match'">
  <div class="flex justify-between">
    <div class="text-xl">Delete match?</div>
    <button [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="my-3">
    Are you sure you want to delete this match? All the player statistics
    associated with this match will also be deleted.
  </div>
  <div class="flex gap-4 justify-end items-center">
    <button
      [mat-dialog-close]="false"
      class="px-5 py-2 hover:bg-skin-main-primary rounded ease-out duration-500"
    >
      Cancel
    </button>
    <button class="bg-[#32cd32] px-5 py-2 rounded text-white">Yes</button>
  </div>
</div>

<!-- Next-bowler dialog -->
<div *ngIf="data.dType == 'next-bowler'">
  <div class="flex justify-between">
    <div class="text-xl">Choose next bowler</div>
  </div>

  <div class="w-3/4 flex justify-center items-center m-auto my-4">
    <mat-form-field class="w-full dialog-select" appearance="outline">
      <mat-select placeholder="Select new Bowler" [(ngModel)]="chooseNewBowler">
        <mat-option
          [value]="item?.playerId"
          *ngFor="let item of allTeamsSquads?.bowlingSquad"
          >{{ item?.playerName }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div class="flex gap-4 justify-end items-center">
    <button
      class="bg-[#32cd32] px-5 py-2 rounded text-white"
      (click)="saveNextBowler()"
    >
      Save
    </button>
  </div>
</div>

<!-- Choose-opening-players dialog -->
<div *ngIf="data.dType == 'choose-opening-players'">
  <div class="flex justify-between">
    <div class="text-xl">Choose opening players</div>
  </div>
  <form [formGroup]="openingPlayerForm" class="w-full">
    <div class="w-3/4 flex justify-center items-center m-auto my-4">
      <mat-form-field class="w-full dialog-select" appearance="outline">
        <mat-select
          placeholder="On-Strike Batsman"
          formControlName="strikeBatsman"
        >
          <mat-option
            [value]="item?.playerId"
            *ngFor="let item of allTeamsSquads?.battingSquad"
            >{{ item?.playerName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="w-3/4 flex justify-center items-center m-auto my-4">
      <mat-form-field class="w-full dialog-select" appearance="outline">
        <mat-select
          placeholder="Non-strike Batsman"
          formControlName="nonStrikeBatsman"
        >
          <mat-option
            [value]="item?.playerId"
            *ngFor="let item of allTeamsSquads?.battingSquad"
            >{{ item?.playerName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="w-3/4 flex justify-center items-center m-auto my-4">
      <mat-form-field class="w-full dialog-select" appearance="outline">
        <mat-select placeholder="Choose bowler" formControlName="bowler">
          <mat-option
            [value]="item?.playerId"
            *ngFor="let item of allTeamsSquads?.bowlingSquad"
            >{{ item?.playerName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <div class="flex gap-4 justify-end items-center">
    <button
      (click)="saveOpeningPlayers()"
      class="bg-[#32cd32] px-5 py-2 rounded text-white"
    >
      Save
    </button>
  </div>
</div>

<!-- Retire-batsman dialog -->
<div *ngIf="data.dType == 'retire-batsman'">
  <div class="flex justify-between">
    <div class="text-xl font-medium">Retire batsman?</div>
    <button [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="w-3/4 flex flex-col m-auto my-4">
    <div class="text-base font-medium ml-3 mb-1">Select player to retire</div>
    <mat-radio-group class="flex flex-col gap-1 ml-3 mb-3 common-input">
      <mat-radio-button value="1">Player1</mat-radio-button>
      <mat-radio-button value="2">Player2</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="w-full dialog-input" appearance="outline">
      <input
        matInput
        placeholder="Replaced by?"
        type="text"
        [(ngModel)]="replacedBatsman"
      />
    </mat-form-field>
  </div>

  <div class="flex gap-4 justify-end items-center">
    <button
      [mat-dialog-close]="false"
      class="px-5 py-2 hover:bg-skin-main-primary rounded ease-out duration-500"
    >
      Cancel
    </button>
    <button class="bg-[#32cd32] px-5 py-2 rounded text-white">Save</button>
  </div>
</div>

<!-- Player Detail dialog -->
<div *ngIf="data.dType == 'player-details'">
  <div class="flex justify-between items-start">
    <div></div>
    <img
      class="w-16 border border-[#32cd32] rounded-full"
      src="assets/main_logo.jpg"
      alt=""
    />
    <button [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="text-center text-xl font-semibold my-3">Player name</div>
  <div class="my-3">
    <mat-tab-group>
      <mat-tab label="Batting">
        <div class="flex gap-6 my-4">
          <app-small-card></app-small-card>
          <app-small-card></app-small-card>
          <app-small-card></app-small-card>
        </div>
      </mat-tab>
      <mat-tab label="Bowling">
        <div class="flex gap-6 my-4">
          <app-small-card></app-small-card>
          <app-small-card></app-small-card>
          <app-small-card></app-small-card>
        </div>
      </mat-tab>
      <mat-tab label="Fielding">
        <div class="flex gap-6 my-4">
          <app-small-card></app-small-card>
          <app-small-card></app-small-card>
          <app-small-card></app-small-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<!-- Full Scoreboard dialog -->
<div *ngIf="data.dType == 'full-scoreboard'">
  <div class="flex justify-between">
    <div></div>
    <div class="text-base text-center font-semibold ml-3">Team1 vs Team2</div>
    <button [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="my-3">
    <mat-tab-group>
      <mat-tab label="Scoreboard">
        <app-scoreboard></app-scoreboard>
      </mat-tab>
      <mat-tab label="Overs"> <app-overs></app-overs> </mat-tab>
      <mat-tab label="Partnerships">
        <app-partnerships></app-partnerships>
      </mat-tab>
      <mat-tab label="Analytics"> <app-analytics></app-analytics> </mat-tab>
    </mat-tab-group>
  </div>
</div>
