<div
  class="flex flex-col p-5 gap-5 lg:flex-row md:flex-row w-full sm:w-[95%] sm:m-auto"
>
  <form [formGroup]="scoreArea" class="w-full">
    <div class="flex flex-col gap-4 w-full">
      <div class="text-xl font-semibold ml-3">Score area</div>
      <div class="bg-white px-5 py-2 shadow-md rounded-md">
        <div class="flex flex-col gap-1">
          <div class="flex gap-2 justify-between flex-wrap px-5 py-2">
            <mat-checkbox formControlName="wideType">Wide</mat-checkbox>
            <mat-checkbox formControlName="noBall">No ball</mat-checkbox>
            <mat-checkbox formControlName="wicket">Wicket</mat-checkbox>
          </div>
          <div class="flex gap-3 justify-between items-center">
            <button
              (click)="retireBatsman()"
              class="w-full bg-[#32cd32] px-5 py-2 rounded text-white"
            >
              Retire
            </button>
            <button class="w-full bg-[#32cd32] px-5 py-2 rounded text-white">
              Swap Batsman
            </button>
          </div>
        </div>
      </div>
      <div class="bg-white px-5 py-2 shadow-md rounded-md">
        <div class="flex justify-between items-center gap-12">
          <div class="flex flex-col gap-3">
            <button class="w-full bg-[#32cd32] px-5 py-2 rounded text-white">
              Undo
            </button>
            <button
              class="w-full bg-[#32cd32] px-5 py-2 rounded text-white"
              (click)="viewPartnerShips()"
            >
              Partnerships
            </button>
          </div>
          <div class="flex flex-wrap gap-1">
            <button
              class="run-score-num"
              (click)="scoreRuns(runItem)"
              *ngFor="let runItem of runList"
            >
              {{ runItem }}
            </button>
            <button class="run-score-num">...</button>
          </div>
        </div>
      </div>

      <div class="bg-white px-5 py-2 shadow-md rounded-md">
        <div class="flex gap-5 justify-between">
          <button
            class="w-full bg-[#32cd32] px-5 py-2 rounded text-white"
            (click)="viewFullScoreboard()"
          >
            Full scoreboard
          </button>
          <button
            class="w-full bg-[#32cd32] px-5 py-2 rounded text-white"
            (click)="openMatchAnalysis()"
          >
            Analytics
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="flex flex-col gap-4 w-full">
    <div class="text-xl font-semibold ml-3">Active match</div>
    <div class="bg-white px-5 py-2 shadow-md rounded-md">
      <div class="text-base font-semibold ml-3 mb-1">
        {{ activeMatch?.hostTeam }} v/s {{ activeMatch?.visitorTeam }}
      </div>
      <div class="flex gap-5 ml-3">
        <div class="w-full font-medium flex flex-col justify-between gap-2">
          <div class="w-max">
            {{ activeMatch?.currentInnings?.teamName }},
            {{ activeMatch?.currentInnings?.inningNo | ordinal }} inning
          </div>
          <div class="w-max text-2xl">
            {{ activeMatch?.currentInnings?.score?.totalRuns }}-{{
              activeMatch?.currentInnings?.score?.totalWickets
            }}
            ({{ totalOvers }})
          </div>
        </div>
        <div class="w-full font-medium flex flex-col justify-between">
          <div>CRR</div>
          <div>{{ activeMatch?.currentInnings?.score?.currRunrate }}</div>
        </div>
      </div>
    </div>
    <div class="bg-white px-5 py-2 shadow-md rounded-md">
      <app-score-table [isActiveMatch]="true"></app-score-table>
    </div>
    <div class="bg-white px-5 py-2 shadow-md rounded-md overflow-auto">
      <div class="flex flex-col gap-3 lg:flex-row md:flex-row">
        <div class="flex items-center font-medium">This over:</div>
        <app-overs [isActiveMatch]="true"></app-overs>
      </div>
    </div>
  </div>
</div>
