/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Themes */
@layer base {
  :root {
    --sidenav-bg-primary: #181818;
    --sidenav-bg-muted: #282828;
    --sidenav-text-primary: #b8b8b8;
    --sidenav-text-muted: #32cd32;
    --main-bg-primary: #d0d0d0;
    --main-text-primary: #505050;
  }
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sidenav-tab {
  @apply flex items-center gap-1.5 my-2 hover:text-skin-sidenav-muted hover:cursor-pointer;
}

.sidenav-active {
  @apply text-skin-sidenav-muted;
}

.run-score-num {
  @apply flex justify-center items-center border-2 border-[#32cd32] rounded-full w-10 h-10;
}

.gray-button-main {
  @apply w-full text-center px-5 py-2 hover:bg-skin-main-primary rounded ease-out duration-500;
}

.gray-text-main {
  @apply font-normal text-xs text-gray-500;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: rgb(50, 205, 50);
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgb(50, 205, 50);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: rgba(50, 205, 50, 0.26);
}

.dialog-common {
  overflow: auto;
  max-height: 90%;
}

.fullscore-dialog-width {
  @apply w-[99%] sm:w-3/5;
}

.forty-to-full-dialog {
  @apply w-[99%] sm:w-2/5;
}

.mat-form-field-subscript-wrapper {
  @apply text-xs top-8;
}

.snackbar-success {
  @apply text-white bg-green-500;
}

.snackbar-failure {
  @apply text-white bg-red-500;
}

.mat-simple-snackbar {
  justify-content: center !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #32cd32 !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #32cd32;
}
