<div class="flex gap-10 p-5 flex-col sm:flex-row">
  <div class="min-w-[300px]">
    <div class="text-xl font-semibold mb-5 ml-3">Teams</div>
    <div class="flex flex-col gap-4 bg-white p-5 rounded-lg shadow-md relative">
      <div
        class="w-0 absolute h-0 border-t-[10px] border-t-transparent border-l-[20px] border-l-white border-b-[10px] border-b-transparent right-[-20px] hidden sm:block"
      ></div>
      <app-team-list-card></app-team-list-card>
      <app-team-list-card></app-team-list-card>
      <app-team-list-card></app-team-list-card>
    </div>
  </div>
  <div class="w-full sm:w-3/6">
    <div class="text-xl font-semibold mb-5 ml-3">Players</div>
    <div class="flex flex-col gap-4 bg-white p-5 rounded-lg shadow-md">
      <app-player-list-card></app-player-list-card>
      <app-player-list-card></app-player-list-card>
      <app-player-list-card></app-player-list-card>
      <app-player-list-card></app-player-list-card>
      <app-player-list-card></app-player-list-card>
      <app-player-list-card></app-player-list-card>
    </div>
  </div>
</div>
