<div
  class="bg-skin-sidenav-muted flex justify-center items-center gap-1.5 py-10 text-skin-sidenav-primary"
>
  <img
    class="w-16 h-16 border-4 border-[#32CD32] rounded-md"
    src="assets/main_logo.jpg"
    alt=""
  />
  <div class="text-base w-[76px]">CRICKET SCORER</div>
</div>
<div
  class="flex flex-col pl-9 justify-center items-start my-2 text-skin-sidenav-primary"
>
  <div class="sidenav-tab">
    <mat-icon>create_new_folder</mat-icon>
    New Match
  </div>
  <div class="sidenav-tab">
    <mat-icon>play_circle_filled</mat-icon> Active Match
  </div>
  <div class="sidenav-tab"><mat-icon>group</mat-icon> Teams</div>
  <div class="sidenav-tab"><mat-icon>history</mat-icon>History</div>
  <div class="sidenav-tab"><mat-icon>settings</mat-icon>Advanced settings</div>
</div>
<div
  class="flex justify-center items-center text-skin-sidenav-primary mt-10 bg-skin-sidenav-muted py-3"
>
  Version 1.1.0
</div>
